/* Styling the hero of site */
main .info__container {
  color: #fff;
  background-image: url("../images/wallpaper__avatar-2-o-caminho-da-agua.png");
  width: 100%;
  height: 400px;
  background-size: cover;
  padding: 1.25rem;
  position: relative;
}

main .info__container .classification__movies {
  background-color: #0b2868;
  padding: 2px 8px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* main .info__container .overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  background: radial-gradient(
    circle,
    rgba(11, 40, 104, 0) 0%,
    rgba(2, 20, 53, 0.8) 100%
  );
} */

main .info__presentation {
  width: 45%;
  margin: 15px 0;
}

main .info__presentation p {
  font-size: 12px;
}

main .info__progress {
  height: 5px;
  width: 30%;
  position: relative;
  background-color: #555;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

main .info__progress span {
  display: block;
  height: 100%;
  background-color: #0b2868;
  width: 20%;
}
